.contact {
    margin: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-section {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.header-section h1 {
    color: #333;
    font-size: 2em;
}

.map-section {
    padding: 20px 0;
}

.contact-form-section {
    background-color: #8aeee6; /* This is a minty color, you can choose a shade that matches the image */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: auto;
    height: 400px;
}

.contact-form-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact-form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.contact-form-section input,
.contact-form-section textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.contact-form-section input:focus,
.contact-form-section textarea:focus {
    border: 2px solid #82ccdd; 
}

.contact-form-section button {
    align-self: center;
    padding: 10px 30px;
    background-color: #FF6F96; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.office {
    padding: 20px 0;
    text-align: center;
}

.office h3 {
    font-size: 1.3em;
}

.input-form{
    background-color: #7DD1CA;
}

.map-contactForm {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}