.faq-section {
    display: flex;
    justify-content: center ;
    .container {
        width: 1300px;
        text-align: center;

        h1 {
            font-size: 60px;
        }

        .questions {
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            gap: 10px;

            .qna-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .open-btn {
                    transition: all ease 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 4px solid #32355d;
                    border-radius: 5px;
                    font-size: 28px;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
                .qna {
                    position: relative;
                    .question {
                        font-size: 24px;
                        font-weight: 600;
                    }
                    .answer {
                        position: absolute;
                        text-align: left;
                        font-size: 18px;
                        width: 1000px;
                        height: 0px;
                        overflow: hidden;
                        transition: all ease 0.3s;
                    }

                    &.open {
                        .answer {
                            height: 50px;
                        }
                    }
                }

            }
        }
    }
}