$primary-color: #32355d;
$accent-color: white;

footer {
  color: white;
  position: relative;
  padding-bottom: 50px;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  background-image: url("../assets/footer.png");
  background-repeat: no-repeat;

  .container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    text-align: left;

    p {
      color: #000;
    }

    .footer-logo {
      width: 200px;
    }

    .social-icon {
      margin: 5px;
      width: 30px;
      height: 30px;
    }
  }


  .social-icons {
    margin-top: 10px;
  }

  .icon:hover {
    color: $accent-color;
    /* Adjust hover color as needed */
  }

  h2 {
    margin-bottom: 10px;
  }

  .right-section {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;

    form {
      color: white;
      display: flex;
      gap: 20px;
      flex-direction: column;
      max-width: 400px;
      position: relative;

      .send-btn {
        width: 160px;
        position: "absolute";
        bottom: -5px;
        font-family: "Baloo 2", cursive;
        border-radius: 10px;
      }
    }

    .white-border {
      & .MuiFilledInput-root {
        border-color: white; // Set the border color to white
        background-color: white; // set background color to white
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    padding-bottom: 0;
    .container {
      flex-direction: column-reverse;
      gap: 40px;
      .right-section {
        max-width: 360px;
        .form {
          textarea {
            max-width: 360px;
          }
        }
      }
    }
  }
}
