$primary-color: #32355D;
$accent-color: white;

footer {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 100px;
  max-width: 100vw;

  .container {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .left-section {
      display: flex;
      flex-direction: column;
      text-align: left;
  
      .footer-logo {
        width: 90px;
        height: 90px;
      }
  
      .social-icon {
        margin: 5px;
        width: 30px;
        height: 30px;
      }
    }
  
    .right-section {
      text-align: left;
    }
  
    .brand-info p {
      margin: 0;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  
    .icon:hover {
      color: $accent-color;
      /* Adjust hover color as needed */
    }
  
    h2 {
      margin-bottom: 10px;
    }
  
    .right-section {
  
      color: white;
      text-align: left;
      display: flex;
      flex-direction: column;
  
      form {
        color: white;
        display: flex;
        gap: 20px;
        flex-direction: column;
        max-width: 400px;
        position: relative;

        .send-btn {
          width: 160px;
          position: "absolute";
          bottom: -5px;
          font-family: 'Baloo 2', cursive;
          border-radius: 10px;
        }
      }
  
      .white-border {
        & .MuiFilledInput-root {
          border-color: white; // Set the border color to white
          background-color: white; // set background color to white
  
        }
      }
    }
}


@media only screen and (max-width: 480px) {
  footer {
    padding-bottom: 0;
    .container {
      flex-direction: column-reverse;
      gap: 40px;
      .right-section {
        max-width: 360px;
        .form {
          textarea {
            max-width: 360px;
          }
        }
      }
    }
  }
}