.info-section {
    height: 100vh;
    display: flex;
    justify-content: center;

    .container {
        width: 1300px;
        height: 100%;

        .info {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
                .circle {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background-color: #FCF4EB;
                }
            }
        }

        .time-wrapper {
            
        }
    }
}