.bg-image {
    background: url('../assets/landing-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
    
    .overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.2);
        z-index: 0;
    }

    .landing-page {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 50px;
            color: #32355d;
            .title1 {
                background-color: #D7F5FA;
                max-width: 660px;
                font-size: 80px;
                margin: 0;
                padding: 0;
                border-radius: 15px;
            }

            .title2 {
                background-color: #DCE086;
                max-width: 530px;
                margin: 0;
                font-size: 55px;
                border-radius: 15px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .bg-image {
        max-width: 480px;
        .landing-page {
            .title1 {
                max-width: 380px !important;
                font-size: 3em !important;
            }

            .title2 {
                font-size: 2.25em !important;
            }
        }
    }
}