.bg-image {
    background: url('../assets/landing-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100%;
        height: 1000px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        z-index: 0;
    }

    .landing-page {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 50px;
            color: #32355d;
            h1 {
                background-color: #D7F5FA;
                width: 660px;
                font-size: 80px;
                margin: 0;
                padding: 0;
                border-radius: 15px;
            }

            h2 {
                background-color: #DCE086;
                width: 530px;
                margin: 0;
                font-size: 55px;
                border-radius: 15px;
            }
        }
    }
}