.landing-section {
    background: url('../assets/landing-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}