@import url('./styles/Header.scss');
@import url('./styles/LandingPage.scss');
@import url('./styles/Footer.scss');
@import url('./styles/InfoSection.scss');

body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    color: #32355d;
}
